In [9]:
import pandas as pd
df = pd.read_csv("Employee_continue.csv")

In [47]:
import numpy as np
df = df.replace('?',np.nan)
df

  Department Education Sex      Title  Year      Name  Salary
0         IT  Bachelor   M    analyst   1.0       Bob    90.0
1         IT    Master   M    analyst   2.0      Jake    90.0
2         HR    Master   M    analyst   2.0      John    90.0
3         HR  Bachelor   F    analyst   2.0      Judy    90.0
4      Trade       PHD   M  associate   3.0       Sam   120.0
5        NaN       PHD   F  associate   5.0       Amy   120.0
6      Trade    Master   F  associate   NaN  Jennifer   120.0
7         HR    Master   M         VP   8.0     Peter   262.5
8         IT       NaN   F         VP   9.0      Mary   262.5

In [39]:
?is.na

Object `is.na` not found.

In [46]:
np.sum(df.isnull())

Department    0
Education     0
Sex           0
Title         0
Year          1
Name          0
Salary        0
dtype: int64

In [45]:
df.isnull().any(axis=1)

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
dtype: bool

In [42]:
df.loc[df.isnull().any(axis=1),:]

  Department Education Sex      Title  Year      Name  Salary
6      Trade    Master   F  associate   NaN  Jennifer   120.0