In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('listings.csv')

In [60]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"124 Mackenzie St,\rBrooklyn, NY 11235","$520,000","2,700 sqft",4 baths,3 beds,"$1,966","$1,519,349",40580120,-73940420,NaN,\r900 sqft basement\rAttic\rDeck\rFinished bas...,\rDishwasher\rDryer\rMicrowave\rRefrigerator\r...,\rDining room\rFamily room\rLaundry room\rMast...,\rExterior material: Stucco\rRoof type: Compos...,\rJacuzzi / Whirlpool\rLiving room\rParking Ty...,"\rFloor size: 2,700 sqft\rHeating: Gas\rLast r..."
1,"36 Claver Pl,\rBrooklyn, NY 11238","$3,195,000","4,500 sqft",6 baths,6 beds,"$12,596","$2,649,417",40682095,-73957780,"\rLot: 2,000 sqft\rMulti Family\rBuilt in 1901...",\rDeck\rFenced Yard\rFinished basement\rFirepl...,\rDishwasher\rDryer\rWasher,\rDining room\rFamily room\rLibrary\rOffice\rW...,\rExterior material: Other\rStories: 4\rStruct...,\rVintage\r\r,"\rFloor size: 4,500 sqft\rLast remodel year: 1..."
2,"755 Belmont Ave # 01,\rBrooklyn, NY 11208","$499,000",#NAME?,3 baths,4 beds,"$1,913",NaN,40672760,-73881840,"\rBaths: 2 full, 1 half\rSingle Family\r4 days...",\r\r,NaN,NaN,NaN,NaN,\rLast remodel year: 2017\rZillow Home ID: 209...
3,"250 W 15th St APT I,\rNew York, NY 10011","$850,000",725 sqft,1 bath,1 bed,"$3,351","$901,980",40739900,-74001400,\rCooperative\rBuilt in 1930\r8 days on Zillow...,\rElevator\rFireplace\rGarden\rPatio\r,\rDishwasher\r\r,NaN,\rUnit count: 59\r\r,\rbike_room\rcats\rco_purchase\rdogs\rgifts\rl...,\rFloor size: 725 sqft\rZillow Home ID: 210055...
4,"2318 E 63rd St,\rBrooklyn, NY 11234","$1,890,000","4,800 sqft",4 baths,4 beds,"$7,451","$1,711,219",40612465,-73909960,NaN,\r1600 sqft basement\rBarbecue\rCable Ready\rC...,\rDishwasher\rDryer\rFreezer\rGarbage disposal...,\rBreakfast nook\rDining room\rFamily room\rLa...,"\rExterior material: Brick, Metal, Other, Ston...",NaN,"\rFloor size: 4,800 sqft\rHeating: Gas\rLast r..."

In [61]:
df['FEATURES'][1]

'\rDeck\rFenced Yard\rFinished basement\rFireplace\rFlooring: Hardwood\rGarden\rIntercom\rLawn\rMother-in-Law Apartment\rParking: None\rPatio'

In [62]:
df['FEATURES'][1].strip()

'Deck\rFenced Yard\rFinished basement\rFireplace\rFlooring: Hardwood\rGarden\rIntercom\rLawn\rMother-in-Law Apartment\rParking: None\rPatio'

In [79]:
v = df['FEATURES'][1]

In [81]:
v.strip().split('\r')

['Deck',
 'Fenced Yard',
 'Finished basement',
 'Fireplace',
 'Flooring: Hardwood',
 'Garden',
 'Intercom',
 'Lawn',
 'Mother-in-Law Apartment',
 'Parking: None',
 'Patio']

In [65]:
Features = map(lambda v: v.strip().split('\r'),df['FEATURES'])

In [66]:
len(Features)

135

In [71]:
h = Features[78]
print h
h[3]

['Fireplace', 'Flooring: Hardwood, Tile', 'Garden', 'Patio', 'Unfinished basement']

'Patio'

In [72]:
# ', '.join(Features[78])

'Fireplace, Flooring: Hardwood, Tile, Garden, Patio, Unfinished basement'

In [73]:
#df['test'] = map(lambda x:', '.join(x),Features)

In [74]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER,test
0,"124 Mackenzie St,\rBrooklyn, NY 11235","$520,000","2,700 sqft",4 baths,3 beds,"$1,966","$1,519,349",40580120,-73940420,NaN,\r900 sqft basement\rAttic\rDeck\rFinished bas...,\rDishwasher\rDryer\rMicrowave\rRefrigerator\r...,\rDining room\rFamily room\rLaundry room\rMast...,\rExterior material: Stucco\rRoof type: Compos...,\rJacuzzi / Whirlpool\rLiving room\rParking Ty...,"\rFloor size: 2,700 sqft\rHeating: Gas\rLast r...","900 sqft basement, Attic, Deck, Finished basem..."
1,"36 Claver Pl,\rBrooklyn, NY 11238","$3,195,000","4,500 sqft",6 baths,6 beds,"$12,596","$2,649,417",40682095,-73957780,"\rLot: 2,000 sqft\rMulti Family\rBuilt in 1901...",\rDeck\rFenced Yard\rFinished basement\rFirepl...,\rDishwasher\rDryer\rWasher,\rDining room\rFamily room\rLibrary\rOffice\rW...,\rExterior material: Other\rStories: 4\rStruct...,\rVintage\r\r,"\rFloor size: 4,500 sqft\rLast remodel year: 1...","Deck, Fenced Yard, Finished basement, Fireplac..."
2,"755 Belmont Ave # 01,\rBrooklyn, NY 11208","$499,000",#NAME?,3 baths,4 beds,"$1,913",NaN,40672760,-73881840,"\rBaths: 2 full, 1 half\rSingle Family\r4 days...",\r\r,NaN,NaN,NaN,NaN,\rLast remodel year: 2017\rZillow Home ID: 209...,
3,"250 W 15th St APT I,\rNew York, NY 10011","$850,000",725 sqft,1 bath,1 bed,"$3,351","$901,980",40739900,-74001400,\rCooperative\rBuilt in 1930\r8 days on Zillow...,\rElevator\rFireplace\rGarden\rPatio\r,\rDishwasher\r\r,NaN,\rUnit count: 59\r\r,\rbike_room\rcats\rco_purchase\rdogs\rgifts\rl...,\rFloor size: 725 sqft\rZillow Home ID: 210055...,"Elevator, Fireplace, Garden, Patio"
4,"2318 E 63rd St,\rBrooklyn, NY 11234","$1,890,000","4,800 sqft",4 baths,4 beds,"$7,451","$1,711,219",40612465,-73909960,NaN,\r1600 sqft basement\rBarbecue\rCable Ready\rC...,\rDishwasher\rDryer\rFreezer\rGarbage disposal...,\rBreakfast nook\rDining room\rFamily room\rLa...,"\rExterior material: Brick, Metal, Other, Ston...",NaN,"\rFloor size: 4,800 sqft\rHeating: Gas\rLast r...","1600 sqft basement, Barbecue, Cable Ready, Con..."

In [50]:
print type(df['test'][0])
df['test'][0]

<type 'str'>

'900 sqft basement, Attic, Deck, Finished basement, Flooring: Hardwood, Tile, Intercom, Parking: Garage - Detached, Off street, On street, 3 spaces, 400 sqft garage, Patio, Skylight'

In [82]:
# replacing the FEATURES column with the cleaned virsion
#df['FEATURES'] = map(lambda x:', '.join(x),map(lambda v: v.strip().split('\r'),df['FEATURES']))
df['FEATURES'] = Features

In [83]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER,test
0,"124 Mackenzie St,\rBrooklyn, NY 11235","$520,000","2,700 sqft",4 baths,3 beds,"$1,966","$1,519,349",40580120,-73940420,NaN,"[900 sqft basement, Attic, Deck, Finished base...",\rDishwasher\rDryer\rMicrowave\rRefrigerator\r...,\rDining room\rFamily room\rLaundry room\rMast...,\rExterior material: Stucco\rRoof type: Compos...,\rJacuzzi / Whirlpool\rLiving room\rParking Ty...,"\rFloor size: 2,700 sqft\rHeating: Gas\rLast r...","900 sqft basement, Attic, Deck, Finished basem..."
1,"36 Claver Pl,\rBrooklyn, NY 11238","$3,195,000","4,500 sqft",6 baths,6 beds,"$12,596","$2,649,417",40682095,-73957780,"\rLot: 2,000 sqft\rMulti Family\rBuilt in 1901...","[Deck, Fenced Yard, Finished basement, Firepla...",\rDishwasher\rDryer\rWasher,\rDining room\rFamily room\rLibrary\rOffice\rW...,\rExterior material: Other\rStories: 4\rStruct...,\rVintage\r\r,"\rFloor size: 4,500 sqft\rLast remodel year: 1...","Deck, Fenced Yard, Finished basement, Fireplac..."
2,"755 Belmont Ave # 01,\rBrooklyn, NY 11208","$499,000",#NAME?,3 baths,4 beds,"$1,913",NaN,40672760,-73881840,"\rBaths: 2 full, 1 half\rSingle Family\r4 days...",[],NaN,NaN,NaN,NaN,\rLast remodel year: 2017\rZillow Home ID: 209...,
3,"250 W 15th St APT I,\rNew York, NY 10011","$850,000",725 sqft,1 bath,1 bed,"$3,351","$901,980",40739900,-74001400,\rCooperative\rBuilt in 1930\r8 days on Zillow...,"[Elevator, Fireplace, Garden, Patio]",\rDishwasher\r\r,NaN,\rUnit count: 59\r\r,\rbike_room\rcats\rco_purchase\rdogs\rgifts\rl...,\rFloor size: 725 sqft\rZillow Home ID: 210055...,"Elevator, Fireplace, Garden, Patio"
4,"2318 E 63rd St,\rBrooklyn, NY 11234","$1,890,000","4,800 sqft",4 baths,4 beds,"$7,451","$1,711,219",40612465,-73909960,NaN,"[1600 sqft basement, Barbecue, Cable Ready, Co...",\rDishwasher\rDryer\rFreezer\rGarbage disposal...,\rBreakfast nook\rDining room\rFamily room\rLa...,"\rExterior material: Brick, Metal, Other, Ston...",NaN,"\rFloor size: 4,800 sqft\rHeating: Gas\rLast r...","1600 sqft basement, Barbecue, Cable Ready, Con..."

In [84]:
del(df['test'])

In [88]:
df.iloc[5]

address                          445 W 240th St APT 2K,\rBronx, NY 10463
price                                                          $319,000
floor_size                                                      850 sqft
bathrooms                                                         1 bath
bedrooms                                                           1 bed
est_mortgage                                                     $1,223
zprice                                                         $292,405
latitude                                                        40888595
longitude                                                      -73904479
FACTS                  \rCondo\rBuilt in 1949\r7 days on Zillow\rView...
FEATURES                                                      [Elevator]
APPLIANCES INCLUDED                                                  NaN
ROOM TYPES                                                           NaN
CONSTRUCTION                                        \rUnit count: 78\r\r
ADDITIONAL FEATURES    \rAmenities: Close to Bus, Close to Railroad, ...
OTHER                  \rFloor size: 850 sqft\rParcel #: 057801015\rZ...
Name: 5, dtype: object

In [98]:
df.iloc[:,11].head(10)

0    \rDishwasher\rDryer\rMicrowave\rRefrigerator\r...
1                          \rDishwasher\rDryer\rWasher
2                                                  NaN
3                                     \rDishwasher\r\r
4    \rDishwasher\rDryer\rFreezer\rGarbage disposal...
5                                                  NaN
6                       \rRange / Oven\rRefrigerator\r
7                       \rRange / Oven\rRefrigerator\r
8                                                  NaN
9                                                  NaN
Name: APPLIANCES INCLUDED, dtype: object

In [106]:
df.shape

In [108]:
#lets clean all the columns
#address
df['address'].head()

0        124 Mackenzie St,\rBrooklyn, NY 11235
1            36 Claver Pl,\rBrooklyn, NY 11238
2    755 Belmont Ave # 01,\rBrooklyn, NY 11208
3     250 W 15th St APT I,\rNew York, NY 10011
4          2318 E 63rd St,\rBrooklyn, NY 11234
Name: address, dtype: object

In [110]:
type(df['address'][2])

str

In [112]:
df['address'][2].split(',')

['755 Belmont Ave # 01', '\rBrooklyn', ' NY 11208']

In [116]:
map(lambda x:x.strip(),df['address'][2].split(','))

['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']

In [202]:
# to strip a string
def strip(x):
    return x.strip()

# to strip a list of strings
def strip_list(L):
    return map(strip,L)

def split(x):
    return x.split(',')

def split_r(x):
    return x.split('\r')

def clean_string(x):
    return map(strip_list,map(split,df[x]))

def clean_string_r(x):
    return map(strip_list,map(split_r,strip_list(df[x])))

In [136]:
print df['address'][2].split(',')

print map(strip,df['address'][2].split(','))

print strip_list(df['address'][2].split(','))

['755 Belmont Ave # 01', '\rBrooklyn', ' NY 11208']
['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']
['755 Belmont Ave # 01', 'Brooklyn', 'NY 11208']

In [139]:
df['ROOM TYPES'].head()

0    \rDining room\rFamily room\rLaundry room\rMast...
1    \rDining room\rFamily room\rLibrary\rOffice\rW...
2                                                  NaN
3                                                  NaN
4    \rBreakfast nook\rDining room\rFamily room\rLa...
Name: ROOM TYPES, dtype: object

In [147]:
strip(df['ROOM TYPES'][1])
split_r(strip(df['ROOM TYPES'][1]))

['Dining room', 'Family room', 'Library', 'Office', 'Walk-in closet']

In [162]:
df.dtypes

address                object
price                  object
floor_size             object
bathrooms              object
bedrooms               object
est_mortgage           object
zprice                 object
latitude                int64
longitude               int64
FACTS                  object
FEATURES               object
APPLIANCES INCLUDED    object
ROOM TYPES             object
CONSTRUCTION           object
ADDITIONAL FEATURES    object
OTHER                  object
dtype: object

In [168]:
df['price'][3]

'$850,000 '

In [191]:
#df[['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']].astype(str)

In [182]:
df.shape

(135, 16)

In [192]:
df.iloc[:,9:16]=df.iloc[:,9:16].astype(str)

In [193]:
df.dtypes

address                object
price                  object
floor_size             object
bathrooms              object
bedrooms               object
est_mortgage           object
zprice                 object
latitude                int64
longitude               int64
FACTS                  object
FEATURES               object
APPLIANCES INCLUDED    object
ROOM TYPES             object
CONSTRUCTION           object
ADDITIONAL FEATURES    object
OTHER                  object
dtype: object

In [194]:
df[['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']]=df[['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']].astype(str)

In [195]:
df.dtypes

address                object
price                  object
floor_size             object
bathrooms              object
bedrooms               object
est_mortgage           object
zprice                 object
latitude                int64
longitude               int64
FACTS                  object
FEATURES               object
APPLIANCES INCLUDED    object
ROOM TYPES             object
CONSTRUCTION           object
ADDITIONAL FEATURES    object
OTHER                  object
dtype: object

In [196]:
df['ROOM TYPES'].head()

0    \rDining room\rFamily room\rLaundry room\rMast...
1    \rDining room\rFamily room\rLibrary\rOffice\rW...
2                                                  nan
3                                                  nan
4    \rBreakfast nook\rDining room\rFamily room\rLa...
Name: ROOM TYPES, dtype: object

In [205]:
#clean_string_r('ROOM TYPES')

In [206]:
col_to_clean = ['ROOM TYPES','ADDITIONAL FEATURES','APPLIANCES INCLUDED','FACTS','OTHER','CONSTRUCTION']

In [207]:
for col in col_to_clean:
    df[col]=clean_string_r(col)

In [208]:
df.head()

,address,price,floor_size,bathrooms,bedrooms,est_mortgage,zprice,latitude,longitude,FACTS,FEATURES,APPLIANCES INCLUDED,ROOM TYPES,CONSTRUCTION,ADDITIONAL FEATURES,OTHER
0,"124 Mackenzie St,\rBrooklyn, NY 11235","$520,000","2,700 sqft",4 baths,3 beds,"$1,966","$1,519,349",40580120,-73940420,[nan],"['900 sqft basement', 'Attic', 'Deck', 'Finish...","[Dishwasher, Dryer, Microwave, Refrigerator, W...","[Dining room, Family room, Laundry room, Maste...","[Exterior material: Stucco, Roof type: Composi...","[Jacuzzi / Whirlpool, Living room, Parking Typ...","[Floor size: 2,700 sqft, Heating: Gas, Last re..."
1,"36 Claver Pl,\rBrooklyn, NY 11238","$3,195,000","4,500 sqft",6 baths,6 beds,"$12,596","$2,649,417",40682095,-73957780,"[Lot: 2,000 sqft, Multi Family, Built in 1901,...","['Deck', 'Fenced Yard', 'Finished basement', '...","[Dishwasher, Dryer, Washer]","[Dining room, Family room, Library, Office, Wa...","[Exterior material: Other, Stories: 4, Structu...",[Vintage],"[Floor size: 4,500 sqft, Last remodel year: 19..."
2,"755 Belmont Ave # 01,\rBrooklyn, NY 11208","$499,000",#NAME?,3 baths,4 beds,"$1,913",NaN,40672760,-73881840,"[Baths: 2 full, 1 half, Single Family, 4 days ...",[''],[nan],[nan],[nan],[nan],"[Last remodel year: 2017, Zillow Home ID: 2095..."
3,"250 W 15th St APT I,\rNew York, NY 10011","$850,000",725 sqft,1 bath,1 bed,"$3,351","$901,980",40739900,-74001400,"[Cooperative, Built in 1930, 8 days on Zillow,...","['Elevator', 'Fireplace', 'Garden', 'Patio']",[Dishwasher],[nan],[Unit count: 59],"[bike_room, cats, co_purchase, dogs, gifts, li...","[Floor size: 725 sqft, Zillow Home ID: 2100550..."
4,"2318 E 63rd St,\rBrooklyn, NY 11234","$1,890,000","4,800 sqft",4 baths,4 beds,"$7,451","$1,711,219",40612465,-73909960,[nan],"['1600 sqft basement', 'Barbecue', 'Cable Read...","[Dishwasher, Dryer, Freezer, Garbage disposal,...","[Breakfast nook, Dining room, Family room, Lau...","[Exterior material: Brick, Metal, Other, Stone...",[nan],"[Floor size: 4,800 sqft, Heating: Gas, Last re..."

In [210]:
df['ADDITIONAL FEATURES'][0]

['Jacuzzi / Whirlpool', 'Living room', 'Parking Type: Garage Detached']

In [214]:
#now lets do the price, zestimate and est_mortgage
p = df['price'][1]
p

'$3,195,000 '

In [225]:
p.strip('$').strip(' ')

'3,195,000'

In [226]:
import re

In [242]:
re.sub('[^0-9]','',p)

'3195000'

In [246]:
df['price']=map(lambda p: re.sub('[^0-9]','',p),df['price'])

In [254]:
# df['price'].astype(float,raise_)
df['price']=pd.to_numeric(df['price'])

In [255]:
df['price'][1]

3195000.0

In [256]:
df['floor_size'][1]

'4,500 sqft'

In [258]:
df.dtypes

address                 object
price                  float64
floor_size              object
bathrooms               object
bedrooms                object
est_mortgage            object
zprice                  object
latitude                 int64
longitude                int64
FACTS                   object
FEATURES                object
APPLIANCES INCLUDED     object
ROOM TYPES              object
CONSTRUCTION            object
ADDITIONAL FEATURES     object
OTHER                   object
dtype: object

In [264]:
df['floor_size']=map(lambda p: re.sub('[^0-9]','',p),df['floor_size'])

In [274]:
df['floor_size'].head()

0    2700
1    4500
2
3     725
4    4800
Name: floor_size, dtype: object

In [275]:
type(df['zprice'][1])

str

In [279]:
df['est_mortgage']=map(lambda p: re.sub('[^0-9]','',p),map(str,df['est_mortgage']))

In [282]:
df['est_mortgage'].head()

0     1966
1    12596
2     1913
3     3351
4     7451
Name: est_mortgage, dtype: object

In [283]:
zprice = df['zprice'].head(20)

In [285]:
df['zprice']=map(lambda p: re.sub('[^0-9]','',p),map(str,df['zprice']))

In [289]:
df['zprice'].head(10)

0    1519349
1    2649417
2
3     901980
4    1711219
5     292405
6    1077154
7     929313
8     477226
9
Name: zprice, dtype: object

In [291]:
for names in ['bathrooms','bedrooms']:
    df[names]=map(lambda p: re.sub('[^0-9]','',p),map(str,df[names]))

In [292]:
df[['bathrooms','bedrooms']].head()

  bathrooms bedrooms
0         4        3
1         6        6
2         3        4
3         1        1
4         4        4

In [296]:
for x in ['bathrooms','bedrooms','zprice','floor_size','est_mortgage']:
    df[x]=pd.to_numeric(df[x])

In [297]:
df.dtypes

address                 object
price                  float64
floor_size             float64
bathrooms              float64
bedrooms               float64
est_mortgage           float64
zprice                 float64
latitude                 int64
longitude                int64
FACTS                   object
FEATURES                object
APPLIANCES INCLUDED     object
ROOM TYPES              object
CONSTRUCTION            object
ADDITIONAL FEATURES     object
OTHER                   object
dtype: object

In [298]:
#df.to_csv(file_name, sep='\t', encoding='utf-8')
df.to_csv('listings_clean.csv')